<div class="card flex flex-column md:flex-row gap-3">

    <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
            <i class="pi pi-user"></i>
        </span>
        <input pInputText placeholder="Usuario" />
    </div>

    <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
            <i class="pi pi-lock"></i>
        </span>
        <input type="text" pInputText placeholder="Senha" />
        
    </div>
    
     
        <button pButton pRipple label="Entrar" icon="pi pi-user" class="w-full" style="margin-left: auto;"></button>
   
   
</div>